* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDE6ED;
    
}

#nav {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #526D82;
    gap: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav > div {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    gap: 8px;
}

#right {
  justify-content: flex-end;
}

#nav button {
  width: 50px;
  background-color: rgb(82, 109, 130);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

#nav button img {
  border-radius: 10px;
  fill: currentColor;
  color: red;
}

#nav button:hover {
}

#search > label {
  display: flex;
}

#search > label > img {
  background-color: white;
  flex: 1;
  border-radius: 20px 0px 0px 20px;
}

#search > label > input {
  flex: 10;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 0px 20px 20px 0px;
}


