:root {
  --color-primary-1: rgb(255, 245, 224);
  --color-primary-2: rgb(255, 107, 107, 0.8);
  --color-primary-3: rgb(187, 37, 37);
  --color-primary-4: #141e46;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 245, 224, 0.4);
}

button {
  all: unset;
  cursor: pointer;
}

#sidebar {
  width: 250px;
  background-color: var(--color-primary-1);
  color: var(--color-primary-3);
  font-weight: 700;
  height: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

#sidebar.active {
  transform: translateX(0%);
}

#dashboard-section {
  height: 6rem;
  display: flex;
  flex-direction: column;
}

#project-section > .section-title {
  height: 2rem;
  margin-bottom: 10px;
  display: flex;
}

#project-section > .section-title > h4 {
  display: flex;
  align-items: center;
}


#project-list {
  display: flex;
  flex-direction: column;
}

#dashboard-section button, #project-list button {
  padding: 10px;
  border-radius: 10px;
}

#dashboard-section button:hover, #project-list button:hover {
  background-color: rgb(255, 235, 224);
}

#nav {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary-2);
    gap: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav > div {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  margin: 0px 8px;
  gap: 16px;
}

#right {
  justify-content: flex-end;
}

#nav button {
  height: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

#nav button:hover {
  background-color: rgb(255, 235, 224);
}

button img {
  height: 90%;
  border-radius: 10px;
}

#search > label {
  display: flex;
}

#search > label > img {
  background-color: white;
  flex: 1;
  border-radius: 20px 0px 0px 20px;
}

#search > label > input {
  flex: 10;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 0px 20px 20px 0px;
}

#search > label > input:focus {
  outline: none;
}

#todoModal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

#todoForm {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
  height: 25%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#todoForm > * {
  border: none;
}

#todoForm > #inputTitle {
  flex: 2;
  font-weight: 700;
  font-size: 1.4rem;
}

#todoForm > #inputDescription {
  flex: 1;
}

#todoForm > #chooseOption {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#todoForm > #chooseOption > div {
  display: flex;
  flex-direction: column;
}

#todoForm > #chooseOption > div > label {
  font-size: .8rem;
  height: 2rem;
}

#todoForm > #chooseOption > div > input {
  width: 80%;
}

#todoForm > #chooseOption > div > select {
  width: 80%;
  border-radius: 0px;
}

#todoForm > #buttons {
  flex: 2;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

#todoForm > #buttons > button {
  padding: 5px;
  border-radius: 5px;
  width: 15%;
  text-align: center;
}

#todoForm > #buttons > button#submit {
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
}

#todoForm > #buttons > button:hover {
  background-color: rgba(0,0,0,0.4);
  color: #f3f3f3
}

input:focus {
  outline:none!important;
}