:root {
  --color-primary-1: rgb(255, 245, 224);
  --color-primary-2: rgb(255, 107, 107, 0.8);
  --color-primary-3: rgb(187, 37, 37);
  --color-primary-4: #141e46;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 245, 224, 0.4);
}

button {
  all: unset;
  cursor: pointer;
}

#sidebar {
  width: 250px;
  background-color: var(--color-primary-1);
  color: var(--color-primary-3);
  font-weight: 700;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

#sidebar.active {
  transform: translateX(0%);
}

#dashboard-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

#project-header{
  height: 2rem;
  margin-bottom: 10px;
  display: flex;
}

#project-header > h4{
  display: flex;
  align-items: center;
}


#project-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#dashboard-section button, #project-list button{
  padding: 10px;
  border-radius: 10px;
}

#dashboard-section button.btn-active, #project-list button.btn-active, #notes-section button.btn-active {
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
}

#dashboard-section button:hover, #project-list button:hover, #notes-section button:hover {
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
}

#nav {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary-2);
  gap: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nav > div {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  margin: 0px 8px;
  gap: 16px;
}

#right {
  justify-content: flex-end;
}

#nav button {
  height: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
}

#nav button:hover {
  background-color: rgb(255, 235, 224);
}

button img {
  max-width:100%;
  max-height:100%;
  object-fit: cover;
  border-radius: 10px;
}

#search > label {
  display: flex;
}

#search > label > img {
  background-color: white;
  flex: 1;
  border-radius: 20px 0px 0px 20px;
}

#search > label > input {
  flex: 10;
  border: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 0px 20px 20px 0px;
}

#search > label > input:focus {
  outline: none;
}

#modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}

#formModal {
  background-color: #fefefe;
  margin: 10% auto;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-areas: 
  "header header header"
  "left-sidebar main main";  
}

#modalHeader {
  grid-area: header;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

#modalHeader > * {
  height: 2rem;
}

#form {
  border-left: 1px solid black;
  padding: 25px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#chooseTodoType {
  grid-area: left-sidebar;
  padding: 16px;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#chooseTodoType > button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#chooseTodoType > button.btn-active {
  font-weight: 700;
}

#chooseTodoType > button:hover {
  font-weight: 700;
}

#form > * {
  border: none;
}

#form > #inputTitle, #inputProjectTitle {
  flex: 1;
  font-weight: 700;
  font-size: 1.8rem;
}

#form > #inputProjectTitle {
  text-align: center;
}

#form > #inputDescription {
  flex: 3;
  font-size: 1.2rem;
  resize: none;
}

#dueDate, #chooseProject {
  flex: 0.5;
  display: flex;
  gap: 8px;
}

#form > div > label {
  display: flex;
  align-items: center;
}

#form > #buttons {
  flex: .8;
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

#form > button {
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}

#form > button#submit {
  background-color: var(--color-primary-2);
  color: var(--color-primary-1);
}

#form > button:hover {
  background-color: rgba(0,0,0,0.4);
  color: #f3f3f3
}

input:focus, textarea:focus, select:focus {
  outline:none!important;
}

#main {
  display: flex;
  height: 95%;
  gap: 32px;
  padding-right: 282px;
}

#cards {
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill ,minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill ,minmax(150px, 1fr));
  gap: 16px;
}

.card {
  background-color: var(--color-primary-1);
  border-radius: 25px;
  display: flex;
  gap: 8px;
  padding: 16px 8px 16px 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.card > input {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.card > input:checked {
  background-color: gray;
}

.card .card-clear {
  background-color: var(--color-primary-1);
  height: 2rem;
}

.card .card-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card > .card-content > .text-content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.card > .card-content > .text-content > .card-title {
  font-weight: 700;
  font-size: 1.2rem;
  overflow: hidden;
}

.card > .card-content > .card-date {
  flex: 1;
}
